{% extends "base.html" %}

{% block content %}
{% for item in news%}
<div class="post col-md-6 col-sm-12 col-xs-12 offset-md-3 mb-20">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-8">
            <h2>{{item[0]}}</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-4 text-right">
            {% if current_user.is_authenticated and current_user == item[3] %}
            <a href="/news/{{ item[6] }}" class="btn btn-ch-dl" ><i class="fa fa-pencil-square-o fa-2x"></i></a>
            <a href="/news_delete/{{ item[6] }}" class="btn btn-ch-dl"><i class="fa fa-trash-o fa-2x"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="data">
        {{item[4]}}
    </div>
    {% if item[5] %}
    <div class="text-main pb-10">
        {{item[1]}}
    </div>
    {% else %}
    <div class="text-main pb-2">
        {{item[1]}}
    </div>
    <div class="pb-10">
        <font color="#808080">Автор: </font>{{item[2]}}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}